In [70]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable

In [71]:
import geopandas as gpd

shapefile = gpd.read_file("/home/cbn7xr/tl_2013_us_zcta510.shp")
#print(shapefile)

In [72]:
#print(type(shapefile['GEOID10'][1:2][0:2]))
MMRbyZip= pd.read_csv('/home/cbn7xr/Measles/mmr-counts.txt', sep=' ', index_col=False)
#print(MMRbyZip)

shapefile1=shapefile.loc[shapefile.GEOID10.isin(MMRbyZip['zipcode'])].copy()

In [73]:
shapefile1["NEIGHBORS"] = None  
adjList = pd.DataFrame(columns=['source', 'target'])

zipcodetoIndex=dict(zip(shapefile1.GEOID10, np.arange(shapefile1.GEOID10.shape[0])))
indextoZipcode=dict(zip(np.arange(shapefile1.GEOID10.shape[0]),shapefile1.GEOID10))

In [74]:
cluster1=[1441, 1439, 1000, 809, 843, 1291, 110, 112, 1008, 113, 819, 820, 822, 823, 824, 825, 1023, 1037, 1297, 1011, 1012, 1014, 472, 473, 476, 1324, 1325, 477]
cluster2=[72, 64, 1287, 1245, 1246, 95, 1247, 119, 1260, 1251, 1253, 1227, 1263]
cluster3=[516, 422, 1046, 519, 423, 407, 408, 425, 557]

In [75]:
nodePropfromPerTrait= pd.read_csv("/home/cbn7xr/Measles/nodePropfromPerTrait.csv")
nodePropfromPerTrait

      node  zipcode  population  nVaccCount
0        0    27030           0           0
1        1    27041           0           0
2        2    27048           0           0
3        3    27103           0           0
4        4    27104           0           0
...    ...      ...         ...         ...
1450  1450    20903           0           0
1451  1451    31602           0           0
1452  1452    23608       38992        3195
1453  1453    84015           0           0
1454  1454    31763           0           0

[1455 rows x 4 columns]

In [76]:
clus=cluster3
pop=0
nVacc=0
land=0
for c in clus:
    print(indextoZipcode[c])
    pop=pop+(nodePropfromPerTrait.loc[nodePropfromPerTrait['zipcode']==int(indextoZipcode[c])]['population'].sum())
    nVacc=nVacc+(nodePropfromPerTrait.loc[nodePropfromPerTrait['zipcode']==int(indextoZipcode[c])]['nVaccCount'].sum())
    land=land+shapefile1.loc[shapefile1['ZCTA5CE10']==(indextoZipcode[c])]['ALAND10'].sum()
    
print('pop='+str(pop))   
print('nVacc='+str(nVacc))
print('nVaccPer='+str(nVacc*100/pop))
print('land='+str(land*.0000003861))
print('density='+str(pop/(land*.0000003861)))

23832
23235
23219
23836
23236
23225
23226
23237
23838
pop=190832
nVacc=18019
nVaccPer=9.44233671501635
land=238.7887183539
density=799.1667333176724

In [30]:
60455/610464

0.09903122870472296

In [52]:
personTraitVA= pd.read_csv("/home/cbn7xr/personTraitVA.csv")
personTraitVA

,pid,hid,age,age_group,gender,county_fips,home_latitude,home_longitude,employment_status,occupation_socp,...,hh_income,household_language,workers_in_family,race,hispanic,vacc_status,block_no,blockLat,blockLon,blockZipCode
0,0,0,52,o,1,51001,37.940856,-75.368081,2.0,119141,...,30000,1,2,1,1,1,511901001,37.940856,-75.368081,23336.0
1,1,0,55,o,2,51001,37.940856,-75.368081,2.0,434011,...,30000,1,2,1,3,1,511901001,37.940856,-75.368081,23336.0
2,2,1,50,o,2,51001,37.944467,-75.358702,1.0,252020,...,104000,1,2,1,1,0,511901001,37.940856,-75.368081,23336.0
3,3,1,57,o,1,51001,37.944467,-75.358702,1.0,113061,...,104000,1,2,1,1,1,511901001,37.940856,-75.368081,23336.0
4,4,2,33,a,2,51001,37.936801,-75.367547,1.0,292061,...,41000,1,1,1,1,1,511901001,37.940856,-75.368081,23336.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7688054,7688054,3094490,11,s,1,51840,39.138766,-78.176474,NaN,NaN,...,140000,1,1,1,1,1,518403024,39.147440,-78.178994,22601.0
7688055,7688055,3094490,52,o,2,51840,39.138766,-78.176474,1.0,21109X,...,140000,1,1,1,1,0,518403024,39.147440,-78.178994,22601.0
7688056,7688056,3094491,26,a,1,51840,39.152056,-78.177573,1.0,172051,...,39000,1,1,1,1,1,518403024,39.147440,-78.178994,22601.0
7688057,7688057,3094491,24,a,2,51840,39.152056,-78.177573,6.0,433099,...,39000,1,1,1,1,1,518403024,39.147440,-78.178994,22601.0
7688058,7688058,3094492,23,a,2,51840,39.143768,-78.173936,1.0,119XXX,...,38300,1,0,1,1,1,518403024,39.147440,-78.178994,22601.0

In [69]:
pid=[]
clus=cluster3
for c in clus:
    #print(indextoZipcode[c])
    pid.extend(personTraitVA.loc[personTraitVA['blockZipCode']==float(indextoZipcode[c])]['pid'])
    
degree= pd.read_csv("/project/biocomplexity/biosurveillance/EpiHiper/code/Centralities/degree.csv")

degreeCls=degree.loc[degree['PID'].isin(pid)].copy()
print(len(pid))
print('mean='+str(degreeCls['unWeightedDegree'].mean()))
print('median='+str(degreeCls['unWeightedDegree'].median()))

190832
mean=40.845419007294375
median=36.0

In [60]:
degree= pd.read_csv("/project/biocomplexity/biosurveillance/EpiHiper/code/Centralities/degree.csv")
degree

             PID  unWeightedDegree
0              0                49
1              1                20
2              2                54
3              3               139
4              4                 3
...          ...               ...
7688054  7688054                32
7688055  7688055                13
7688056  7688056                51
7688057  7688057                10
7688058  7688058                48

[7688059 rows x 2 columns]